body{
	background-color: khaki;
}

h1 {
	text-align: center;
	font-family: "comic sans ms";
	color: darkblue;
}

h4 {
	text-align: right;
	font-family: arial;
	font-style: italic;
}

h3 {
	font-variant: normal;
}

p {
	text-indent: 50px;
	font-family: verdana;
}

.p1 {
	color: salmon;
	text-align: center;
}

#p2 {
	line-height: 34px;
	text-align: center;
	color: darkred;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
	color: red;
}