#elemen1 {background-color: black;
color: white; width: 100px;
height: 80px; margin-top: 30px; margin-left: 40px;	}

#elemen2 {
	background-color: #88ef5b;
	color: #333; width: 300px; height: 150px; margin:25px 200px 30px;
}

.paragraf1 {
	background-color: #8f5bef; width: 500px; height: 50px; margin: 30px 0;
}